<section class="konten">
    <div class="row">
        <div class="col-md-7 margin">
            <h3>Product List </h3>
            <div class="card">
                <div class="list">
                    <div class="row ">
                        <div class="col-md-4 search">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control " placeholder="Search">
                                <div class="input-group-prepend">
                                    <div class="input-group-text cari"><span class="fa fa-search"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table>
                        <thead class="tabel">
                            <th>#</th>
                            <th></th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><img src="images/bango.jpeg" class="image-wrapper" data-toggle="modal"
                                        data-target="#myModal"></td>
                                <td>Kecap Bango</td>
                                <td>Rp 3.500,00</td>
                                <td>5 pcs</td>
                                <td><a href=""><i><span class="fa fa-plus-circle"></span></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><img src="images/mie.jpeg" class="image-wrapper" data-toggle="modal"
                                        data-target="#myModal"></td>
                                <td>Mie Sedap</td>
                                <td>Rp 9.500,00</td>
                                <td>300 pcs</td>
                                <td><a href=""><i><span class="fa fa-plus-circle"></span></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 margin">
            <h3> Details Transaction</h3>
            <div class="card">
                <div class="details">
                    <table>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Water</td>
                                <td>2</td>
                                <td>Rp 2000</td>
                                <td><a href=""><i><span class="fa fa-trash"></span></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Snack</td>
                                <td>3</td>
                                <td>Rp 40000</td>
                                <td><a href=""><i><span class="fa fa-trash"></span></i></span></a></td>
                            </tr>

                        </tbody>
                    </table>
                    <hr />
                    <div class="row buttom">
                        <div class="col-md-7">
                            <h3>Grand Total </h3>
                        </div>
                        <div class="col-md-5">
                            <h3>Rp 100200 </h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <center><button class="btn btn-danger btn-lg button">SUBMIT</button></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {{!-- <h4 class="modal-title">Modal Header</h4> --}}
                </div>
                <div class="modal-body">
                    <center>
                        <img src="images/bango.jpeg" class="image-wrapper">
                        <h2>Kecap Bango</h2>
                        <h4>Rp 3500</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <button style="border:none;"><span class="fa fa-minus-circle"></span></button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-secondary btn-lg midle"
                                    style="border:none;">3</button>
                            </div>
                            <div class="col-md-4">
                                <button style="border:none;"><span class="fa fa-plus-circle"></span></button>
                            </div>
                        </div>
                        <hr />
                        <h3>Rp 350000</h3>
                        <button class="btn btn-danger btn-lg button" style="background: #ED1C24;">SUBMIT</button>
                    </center>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> --}}
            </div>
        </div>
    </div>
</section>