.konten{
    background: #e6e6e6;
    min-height: 780px;
    overflow: hidden;
    .fa-trash{
        color: #ED1C24;
        font-size:20px;
    }
    .fa-plus-circle, .fa-minus-circle{
        color: #ED1C24;
        font-size:24px;
        border-radius: 30px;
        border: none;
    }
    .midle{
        width: 150px;
        background:#e6e6e6;
        color: #4d4d4d;
    }
    hr{
        border-top: 2px dashed #ED1C24;
    }
    h3{
        margin: 30px;
        color: #4d4d4d;
    }
    .margin{
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .modal-dialog{
        border-radius: 50px;     
    }
    .button{
        border-radius: 30px;
    }
    .cari{
        background: #ED1C24;
        color: #e6e6e6;
    }
    .search{
        margin-left: 30px;
        border-radius: 50px;     
    }
    .tabel{
        th,td{
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        }
    }
    th,td{
        width: 200px;
    }
    tr{
        height: 70px;
    }

    .list{
        background: #ffff;
        border-radius: 30px;        
        margin-top: 20px;
        min-height: 400px;
        height: auto;
        min-height: 650px;
        border:1px;
        img{
            height: 60px;
        }
        table{
            text-align: center;

            
        }  
    }
    .details{
        background: #ffff;
        border-radius: 30px; 
        min-height: 420px;
        min-height: 670px;
        border:1px;
        height: auto;
        table{
            text-align: center;
        }
        .buttom{
            height: auto;
            margin-left: 20px;
            color: #999999;
        }
        .button{
            margin: center;
            margin-bottom: 30px;
            width: 200px;
            background: #ED1C24;
        }
    }
}
