.produk{
    background-color: #ffff; 
    border: 1px solid #17202A; 
    height: auto; 
    margin: 10px 0px; 
    padding: 5px; 
    text-align: left; 
    width: auto;

    .preview{
        background-color: #ffff; 
        border: 1px solid #17202A; 
        height: 100px; 
        margin: 10px 0px; 
        padding: 5px; 
        text-align: center;
    }

    button{
        margin-top: 50px;
    }
}

