.add{
    font-family: "roboto-regular", sans-serif;
    padding-left: 0px;
    background: #e6e6e6;
    overflow-x: hidden;

    .dashboard{
        padding-top: 15px;
        padding-bottom: 15px;
        background: #006837;
        text-align: center;
        color: #ffffff;        
    }

    .left{
        background: grey;
        .leftSide{
            
            .option{
                padding-left: 30px;
                // background: grey;
                min-height: 800px;
    
                .flex-column{
                    .nav-item{
                        padding-top: 20px;
        
                        .nav-link{
                            color: #ffffff;
            
                            &:hover{
                                background: #e6e6e6;
                            }
                        }
                    }
                }
            }       
            
        }
    }
    
    .rightSide{
        .navigasi{
            margin-top: 15px;
            margin-bottom: 15px;
            ul.breadcrumb {
                padding: 10px 16px;
                list-style: none;
                background-color: #e6e6e6;
              }
              ul.breadcrumb li {
                display: inline;
                font-size: 18px;
              }
              ul.breadcrumb li+li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
              }
              ul.breadcrumb li a {
                color: grey;
                text-decoration: none;
              }
              ul.breadcrumb li a:hover {
                color: grey;
                text-decoration: underline;
              }
        }

        .addProduct{
            float: right;
            margin-bottom: 20px;
            padding-top: 20px;
            padding-right:30px;
            .btn-secondary{
                background: #006837;
                
            }
        }
        .wrapper{
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            border-radius: 30px;
            height: 700px;
            

            .card{ 
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 30px;
                height: 500px;
                border-radius: 30px;
                background: #ffffff;

                input, textarea{
                    width: -webkit-fill-available;
                    background: #e6e6e6;
                    border: 1px solid #17202A;
                }

                .preview{
                    background-color: #e6e6e6;
                    border: 1px solid #17202A;
                    height: 180px;
                    width: -webkit-fill-available;
                    margin: 10px 0px;
                    padding: 5px;
                    text-align: center;
                }
            }  
            
            .btn{
                margin-right: 20px;
                width: 120px;
                .btn-secondary, btn-danger{
                    margin-top: 25px;
                    width: 100px;
                }
                
            }

            .submit{
                float: right;
                padding-top: 50px;
            }
        }
          
    }

    .footer{
        background: #ffffff;
        color: grey;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;;
    }
    
}