.main{
    font-family: "roboto-regular", sans-serif;
    padding-left: 0px;
    background: #e6e6e6;
    overflow-x: hidden;

    .dashboard{
        padding-top: 15px;
        padding-bottom: 15px;
        background: #006837;
        text-align: center;
        color: #ffffff;        
    }

    .left{
        background: grey;
        .leftSide{
            
            .option{
                padding-left: 30px;
                // background: grey;
                min-height: 800px;
    
                .flex-column{
                    .nav-item{
                        padding-top: 20px;
        
                        .nav-link{
                            color: #ffffff;
            
                            &:hover{
                                background: #e6e6e6;
                            }
                        }
                    }
                }
            }       
            
        }
    }
    
    .rightSide{
        .navigasi{
            margin-top: 15px;
            margin-bottom: 15px;
            ul.breadcrumb {
                padding: 10px 16px;
                list-style: none;
                background-color: #e6e6e6;
              }
              ul.breadcrumb li {
                display: inline;
                font-size: 18px;
              }
              ul.breadcrumb li+li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
              }
              ul.breadcrumb li a {
                color: grey;
                text-decoration: none;
              }
              ul.breadcrumb li a:hover {
                color: grey;
                text-decoration: underline;
              }
        }

        .addProduct{
            float: right;
            margin-bottom: 20px;
            padding-top: 20px;
            padding-right:30px;
            .btn-secondary{
                background: #006837;
                
            }
        }
        .listProduct{
            min-height: 800px;

            .card{
                min-height: 550px;
                margin-left: 30px;
                margin-right: 30px;
                padding-top: 20px;
                padding-left: 60px;
                border-radius: 30px;
    
                .table{
                    text-align: center;
                    margin-bottom: 100px;
                    color: grey;
                    th{
                        width: 220px;
                        background: #e6e6e6;
                    }
                    img{
                        width: 100px;
                    }
    
                    .fa-trash{
                        color: red;
                        font-size: 16px;
                    }    
                }
    
                .pagination{
                    padding-left: 650px;
    
                    .page-link{
                        color: grey;
                    }
                }
            }
        }
          
    }

    .footer{
        background: #ffffff;
        color: grey;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;;
    }
    
}