header{
    background: #3c8dbc;
    padding-top: 20px;
    padding-bottom: 10px;  
    color:#ffffff;

    .admin{
        .owner{
            text-align: center;
            font-weight: 700;
            font: 20px;
        }  
    }
}