// .main{
//     font-family: "roboto-regular", sans-serif;
//     padding-left: 0px;
//     background: #ffffff;
    
//     .logo{
//         img{
//             width: 200px;
//         }
//     }

//     .leftSide{
//         .admin{a
//             img{
//                 border-radius: 100%;
//                 width: 100px;
//                 height: 78px;
//             }  
//         }

//         .profile-name{
//             text-align: center;
//             color: #404852;
//             padding-top: 10px;

//             .name{
//                 font-size: 14px;
//                 line-height: 1.5;
//                 font-weight: bold;
//                 p{
//                     margin-bottom: 0px;
//                 }
//             }

//             .destignation{
//                 font-size: 12px;
//             }
//         }

//         .option{
//             padding-left: 30px;
//             background: linear-gradient(88deg, #13b4ca, #18cabe);

//             .flex-column{
//                 .nav-item{
//                     padding-top: 20px;
    
//                     .nav-link{
//                         color: grey;
        
//                         &:hover{
//                             background: #ffffff;
//                         }
//                     }
//                 }
//             }
//         }       
        
//     }

//     .dashboard{
//         background:linear-gradient(88deg, #13b4ca, #18cabe);

//         ul{
//             padding-top: 30px;
//             li{
//                 display:inline;
//                 padding-left: 15px;
//                 a{
//                     text-decoration: none;
//                     color: #ffffff; 
//                 }
//             }    
//         }
        
//         .create{
//             padding-top: 20px;
//             padding-bottom: 20px;
//             padding-left: 20px;
//             .btn-success{
//                 background:linear-gradient(88deg, #13b4ca, #18cabe);
//                 border-radius: 10px;
//                 color: #ffffff;
//             }
//         }
//     }
//     .rightSide{

//         .navigasi{
//             margin-bottom: 50px;
//             ul.breadcrumb {
//                 padding: 10px 16px;
//                 list-style: none;
//                 background-color: #13b4ca;
//               }
//               ul.breadcrumb li {
//                 display: inline;
//                 font-size: 18px;
//               }
//               ul.breadcrumb li+li:before {
//                 padding: 8px;
//                 color: black;
//                 content: "/\00a0";
//               }
//               ul.breadcrumb li a {
//                 color: black;
//                 text-decoration: none;
//               }
//               ul.breadcrumb li a:hover {
//                 color: grey;
//                 text-decoration: underline;
//               }
//         }

//         .addProduct{
//             float: right;
//             margin-bottom: 20px;
//             padding-right:20px;
//             .btn-secondary{
//                 background:linear-gradient(88deg, #13b4ca, #18cabe);
                
//             }
//         }
//         .card{
//             clear: both;
//             margin-left: 200px;
//             margin-right: 200px;
//             min-height: 700px;
//             padding-left: 30px;
//             padding-right: 30px;
//             border-radius: 30px;

//             .table{
//                 min-height: 600px;
//                 th{
//                     width: 190px;
//                 }
//                 img{
//                     width: 100px;
//                 }

//                 .fa-plus-circle{
//                     color: #13b4ca;
//                     font-size: 16px;
//                 }    
//             }

//             .pagination{
//                 padding-left: 465px;

//                 .page-link{
//                     color: white;
//                     background: linear-gradient(88deg, #13b4ca, #18cabe);
//                 }
//             }
//         }  
//     }

//     li{
//         list-style-type: none;
//     } 
    
// }