.header{
    text-align: center;
    color: #6f6f6f;
    background: #ffff;
    min-height: 55px;
}
.top{
    padding-top: 30px;
    vertical-align: middle;
    min-height: 55px;
}
.footer{
    background: #f8f8f8;
    clear: both;
    position: relative;
}

