<section>
    <div class="add">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard">
                    <h1>DASHBOARD</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 left">
                <div class="leftSide">
                    <div class="row option">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#"><i class="fa fa-tachometer mr-2"></i>Inventory
                                    Management</a>
                                <hr class="bg-white">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-shield mr-2"></i>Product List
                                </a>
                                <hr class="bg-white">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="rightSide">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navigasi">
                                <ul class="breadcrumb">
                                    <li><a href="#">Inventory Management</a></li>
                                    <li><a href="#">Product List</a></li>
                                    <li><a href="#">Add Product</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="mt-3">
                                            <a>Name: </a><br>
                                            <input type="text">
                                        </div>
                                        <div class="mt-3">
                                            <a>Code: </a><br>
                                            <input type="text">
                                        </div>
                                        <div class="mt-3">
                                            <a>Price : </a><br>
                                            <input type="text">
                                        </div>
                                        <div class="mt-3">
                                            <a>Stock : </a><br>
                                            <input type="text">
                                        </div>
                                        <div class="mt-3">
                                            <a>Description : </a><br>
                                            <textarea type="text">
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>Tumbnail Product</p>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="preview">
                                            <p> Preview Image</p>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <button class="btn btn-secondary">BROWSE</button> <br>
                                            <button class="btn btn-danger">REMOVE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row submit "> 
                                <div class="col-md-12">
                                    <button class="btn btn-dark">CANCEL</button>
                                    <button class="btn btn-dark">SAVE</button>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="row footer">
                        <div class="col-md-12">
                            <p>Copyright 2019 Cashier Intern. All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>