<section>
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard">
                    <h1>DASHBOARD</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 left">
                <div class="leftSide">
                    <div class="row option">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#"><i class="fa fa-tachometer mr-2"></i>Inventory
                                    Management</a>
                                <hr class="bg-white">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-shield mr-2"></i>Product List
                                </a>
                                <hr class="bg-white">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="rightSide">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="navigasi">
                                <ul class="breadcrumb">
                                    <li><a href="#">Inventory Management</a></li>
                                    <li><a href="#">Product List</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="addProduct">
                                <button type="button" class="btn btn-secondary">ADD PRODUCT</button>
                            </div>
                        </div>
                    </div>
                    <div class="listProduct">
                        <div class="card">
                            <div class="table">
                                <table>
                                    <thead class="listProduct">
                                        <th class="no">No</th>
                                        <th colspan="2">Name</th>
                                        <th class="info">Price</th>
                                        <th class="info">Stock</th>
                                        <th colspan="2">Date Modified</th>
                                        <th class="info">Action</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td colspan="2"><a href="#"><img src="images/bango1.jpg"
                                                        class="image-wrapper"></a>Kecap Bango</td>
                                            <td>Rp. 17.500,00</td>
                                            <td>128</td>
                                            <td colspan="2">Thursday, 12 December 2019</td>
                                            <td><a href="#" class="fa fa-trash"></a></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td><a href="#"><img src="images/mie.jpeg" class="image-wrapper"></a></td>
                                            <td>Mie Goreng Sedap</td>
                                            <td>Rp. 2.500,00</td>
                                            <td>120</td>
                                            <td colspan="2">Thursday, 12 December 2019</td>
                                            <td><a href="#" class="fa fa-trash"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <nav aria-label="Page navigation example"></nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link">of</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row footer">
                        <div class="col-md-12">
                            <p>Copyright 2019 Cashier Intern. All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>