{{!-- <section>
    <div class="backProduk">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <a>
                        <center><img src="images/gambar.png"></center>
                    </a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="dashboard">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="create">
                                <button class="btn btn-success">+ Create new</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <ul>
                                <li><a href="#" class="flag-icon flag-icon-gb">English</a></li>
                                <li><a href="#"><i class="fa fa-bell-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="leftSide">
                    <div>
                        <a class="admin">
                            <center><img src="images/profile.jpeg"></center>
                        </a>
                        <div class="profile-name">
                            <div class="name">
                                <p>Riantika Tenri Bali</p>
                            </div>
                            <div class="destignation">
                                <p>Super Admin</p>
                            </div>
                        </div>
                    </div>
                    <div class="option">
                        <div class="row option">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#"><i
                                            class="fa fa-tachometer mr-2"></i>Dashboard</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-shield mr-2"></i>Inventory
                                    </a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-pie-chart mr-2"></i>Product List</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-table mr-2"></i>Tables</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-paper-plane-o mr-2"></i>E-mail</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-magnet mr-2"></i>Documantation</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Today's Sales</a>
                                    <hr class="bg-white">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="rightSide">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="navigasi">
                                <ul class="breadcrumb">
                                    <li><a href="#">Inventory Management</a></li>
                                    <li><a href="#">Product List</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="addProduct">
                                <button type="button" class="btn btn-secondary">ADD PRODUCT</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section> --}}