{{!-- <section>
    <div class="main">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <a>
                        <center><img src="images/gambar.png"></center>
                    </a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="dashboard">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="create">
                                <button class="btn btn-success">+ Create new</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <ul>
                                <li><a href="#" class="flag-icon flag-icon-gb">English</a></li>
                                <li><a href="#"><i class="fa fa-bell-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="leftSide">
                    <div>
                        <a class="admin">
                            <center><img src="images/profile.jpeg"></center>
                        </a>
                        <div class="profile-name">
                            <div class="name">
                                <p>Riantika Tenri Bali</p>
                            </div>
                            <div class="destignation">
                                <p>Super Admin</p>
                            </div>
                        </div>
                    </div>
                    <div class="option">
                        <div class="row option">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#"><i
                                            class="fa fa-tachometer mr-2"></i>Dashboard</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-shield mr-2"></i>Widgets</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-pie-chart mr-2"></i>Charts</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-table mr-2"></i>Tables</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-user mr-2"></i>General Pages</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-briefcase mr-2"></i>E-commerce</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-paper-plane-o mr-2"></i>E-mail</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-magnet mr-2"></i>Documantation</a>
                                    <hr class="bg-white">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Today's Sales</a>
                                    <hr class="bg-white">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="rightSide">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="navigasi">
                                <ul class="breadcrumb">
                                    <li><a href="#">Inventory Management</a></li>
                                    <li><a href="#">Product List</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="addProduct">
                                <button type="button" class="btn btn-secondary">ADD PRODUCT</button>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="table">
                            <table>
                                <thead class="listProduct">
                                    <th class="no">No</th>
                                    <th></th>
                                    <th class="info">Name</th>
                                    <th class="info">Price</th>
                                    <th class="info">Stock</th>
                                    <th class="info">Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="no">1.</td>
                                        <td><a href="#"><img src="images/bango1.jpg" class="image-wrapper"></a></td>
                                        <td class="info">Kecap Bango</td>
                                        <td class="info">Rp. 17.500,00</td>
                                        <td class="info">128</td>
                                        <td class="add"><a href="#" class="fa fa-plus-circle"></a></td>
                                    </tr>
                                    <tr>
                                        <td class="no">2.</td>
                                        <td><a href="#"><img src="images/mie.jpeg" class="image-wrapper"></a></td>
                                        <td class="info">Mie Goreng Sedap</td>
                                        <td class="info">Rp. 2.500,00</td>
                                        <td class="info">120</td>
                                        <td class="add"><a href="#" class="fa fa-plus-circle"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <nav aria-label="Page navigation example"></nav>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}