<!DOCTYPE html>
<html class="full-screen-mobile no-js" lang="en">

<head>
  <title>{{content.title}}</title>

  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="{{content.description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="">
  <meta name="GENERATOR" content="MSHTML 11.00.9600.18838">
  <meta property="og:title" content="{{content.title}}" />
  <meta property="og:description" content="{{content.description}}" />
  <meta property="og:image" content="{{config.base_url}}{{config.root_path}}{{config.asset_url}}{{content.imgshare}}" />

  <link rel="icon" type="image/png" href="{{@root.config.asset_url}}favicon/skillsfeature-favicon-16x16.png"
    sizes="16x16">
  <link rel="icon" type="image/png" href="{{@root.config.asset_url}}favicon/skillsfeature-favicon-32x32.png"
    sizes="32x32">
  <link rel="icon" type="image/png" href="{{@root.config.asset_url}}favicon/skillsfeature-favicon-144x144.png"
    sizes="144x144">
  <link rel="icon" type="image/png" href="{{@root.config.asset_url}}favicon/skillsfeature-favicon-196x196.png"
    sizes="196x196">

  <link rel="apple-touch-icon" href="{{@root.config.asset_url}}favicon/rsaf-favicon-196x196.png">

  <!-- build:css styles/main.css -->
  <link href="/styles/main.css" rel="stylesheet">
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- endbuild -->
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- 
    Start of global snippet: Please do not remove
    Place this snippet between the <head> and </head> tags on every page of your site.
    -->
  <!-- Global site tag (gtag.js) - Google Marketing Platform -->
  <script
    src="//assets.adobedtm.com/fc587afa41958921ccd218591ee7ceb5d27559e0/satelliteLib-93703738b88f8b6bc0a6b46e18d8049c7b0950db.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=DC-8189760"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'DC-8189760');
  </script>
  <!-- End of global snippet: Please do not remove -->
</head>

<body>
  {{>header}}

  <main>
    {% body %}
  </main>
  {{>footer}}
  <!-- build:js scripts/jquery.min.js -->
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/modernizr.js -->
  <script type="text/javascript" src="/scripts/modernizr.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/plugins.js -->
  <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script type="text/javascript" src="/scripts/main.js"></script>
  <link href="/node_modules/bootstrapslider/dist/bootstrap-slider.js" rel="styllesheet">
  <!-- endbuild -->

  <script src="//www.skillsfuture.sg/js/addthis_widget.js#pubid=ra-53b3ca047f1c13c8"></script>
  <script type="text/javascript">_satellite.pageBottom();</script>
</body>

</html>