<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align:center;">Copyright 2019 Cashier Intern. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>